*.bin
PythonModulesMITgcm/gsw-3.0.3
Bathymetry/.ipynb_checkpoints
Bathymetry/*.bin
Stratification/360x360
Stratification/.ipynb_checkpoints
*.eps
*.jpg
*.png
*.pdf
Bathymetry/tank/*.nc
"Bathymetry/C:\\nppdf32Log\\debuglog.txt"
Bathymetry/README.md~
Bathymetry/*.nc
"C:\\nppdf32Log\\debuglog.txt"
PythonModulesMITgcm/*.pyc
PythonModulesMITgcm/*.py~
PythonModulesMITgcm/MITgcmutils/
PythonModulesMITgcm/__pycache__/
PythonModulesMITgcm/python-gsw-master/
"C:\\nppdf32Log\\debuglog.txt"
ConstantTandSfiles.py~
canyontools_filemap.txt~
"Stratification/C:\\nppdf32Log\\debuglog.txt"
Bathymetry/C:\\nppdf32Log\\debuglog.txt
C:\\nppdf32Log\\debuglog.txt
Stratification/C:\\nppdf32Log\\debuglog.txt
